<div class="main-container container mt-2 justify-content-lg-center">


    <div class="row m-0 justify-content-center ">


        <!--TIPO DE PROBLEMA-->
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
            <h1 class="w-100 text-center m-3">{{'scenario.scenario'|translate}}</h1>

            <label class="w-100">
                <select [(ngModel)]="selectedTypeScenario" class="custom-select form-control-lg mb-2 mt-2 w-100" >

                    <option *ngFor="let oo of scenarioTypes" [ngValue]="oo" >{{'scenario.'+oo|translate}} </option>

                </select>

            </label>

            <div class="card w-100">
                <div class="card-body">
                </div>

                <div>
                    <img class="card-img-top" src="https://s3-sa-east-1.amazonaws.com/images-crackintelligence/{{getPicture()}}.png" alt="Card image cap">
                </div>

            </div>
        </div>

        <div id="new-calc-container" class="container text-center">
            <button routerLink="/new/{{getEndLink()}}" type="button"
                    class="btn btn-success">{{'scenario.proceed'|translate}}
            </button>
        </div>
    </div>
</div>