<div class="main-container container mt-2 justify-content-lg-center">


    <div class="row m-0 justify-content-center ">


        <!--TIPO DE PROBLEMA-->
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
            <h1 class="w-100 text-center m-3">Scenario</h1>

            <label class="w-100">
                <select class="custom-select form-control-lg mb-2 mt-2 w-100">
                    <option *ngFor="let oo of scenarioTypes" [value]="oo">{{oo|scenarioName}}</option>

                </select>
            </label>

            <div class="card w-100">
                <div class="card-body">
                </div>

                <div  ng-if="oo.valueOf() == SE_SURFACE_CRACK_STRAIGHT_PIPE">
                    <img class="card-img-top" src="../../../assets/scenario1.png" alt="Card image cap">
                </div>
                <div  ng-if="oo.valueOf()  != SE_SURFACE_CRACK_STRAIGHT_PIPE">
                    <img class="card-img-top" src="../../../assets/scenario2.png" alt="Card image cap">
                </div>

            </div>
        </div>

        <div id="new-calc-container" class="container text-center">
            <button routerLink="/new/semi-elliptical-surface-crack-in-a-straight-pipe" type="button"
                    class="btn btn-success">Proceed
            </button>
            <button routerLink="/new/simple-iron-bar" type="button"
                    class="btn btn-success">Proceed
            </button>
        </div>
    </div>
</div>