<div class="main-container">

  <h1 class="display-2 w-100 text-center">Scenarios</h1>

<div id="new-calc-container" class="container text-center">
  <button routerLink="/new" type="button"  class="btn btn-success">New Scenario</button>
</div>


<!--

<h2>My Scenarios</h2>
<ul class="scenarios">
  <li *ngFor="let calc of scenario"
      [class.selected]="calc === selectedScenario"
      (click)="onSelect(calc)">
    <span class="badge">{{calc.id}}</span> {{calc.name}}
  </li>
</ul>

<div>
  <label>Scenario name:</label> <input #scenarioName />
  <button (click)="add(scenarioName.value); scenarioName.value=''">
    Add
  </button>
</div>


<div *ngIf="selectedScenario">
  <h2>
    {{selectedScenario.name | uppercase}} is my scenario
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

-->


</div>
