<div class="main-container container mt-2 justify-content-lg-center">

    <div *ngIf="scenario">

        <div class="row m-0 justify-content-center ">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
                <h1 class="w-100 text-center  mt-4 mb-4">Scenario</h1>

                <label class="w-100 text-center">
                    <h3 class="form-control-lg mb-2 mt-2 w-100">
                        {{scenario.type|scenarioName}}

                    </h3>
                </label>

                <div *ngIf="scenario.type==='SE_SURFACE_CRACK_STRAIGHT_PIPE'" class="card w-100">
                    <img class="card-img-top" src="https://s3-sa-east-1.amazonaws.com/images-crackintelligence/{{getPicture()}}.png" alt="Scenario">

                </div>
            </div>


            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">


                <h1 class="w-80 text-center  mt-4 mb-4">Results</h1>


                <h1 class="w-80 text-center  mt-4 mb-4" *ngIf="this.scenario.output.length>0">{{this.failurePercentage}}% Failue probability</h1>
                <h1 class="w-80 text-center  mt-4 mb-5" *ngIf="this.scenario.output.length===0">Calculating...</h1>


                <div class="col-12 text-center" *ngIf="this.scenario.output.length>0">
                    <div style="display: block">
                        <canvas id="myChart" baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [colors]="doughnutColorsType"
                                [options]="doughnutChartOptions"
                                [legend]="false"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">

                            <h1 class="w-80 text-center  mt-4 mb-4">75%</h1>
                        </canvas>
                    </div>

                </div>

                <div *ngIf="this.scenario.output.length===0" class="col-12 text-center mt-5 animationload">
                    <div class="osahanloading"></div>
                </div>
            </div>



        </div>


        <div class="row mt-5">

            <div class="col-12 col-lg-6 col-md-12 col-sm-12 ">
                <h1 class="w-100 text-center  mt-4 mb-4">Parameters setup</h1>

                <!-- SEPARADOR *************************************************************************************** -->


                <tr *ng-for="let pp of this.scenario.parameters" [ngValue]="pp">
                    <static-variable-output [parameter]="getParameter(pp.code)"></static-variable-output>
                </tr>


                <!-- SEPARADOR *************************************************************************************** -->



            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
                <h1 class="w-100 text-center  mt-4 mb-4">Configuration</h1>

                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <label for="input-seed">Seed</label>

                    </div>
                    <div class="col-6">
                        <input id="input-seed" class="form-control" placeholder="Seed"
                               [(ngModel)]="getConfiguration('SEED').value" name="seed">
                    </div>

                </div>


                <div class="row  mt-3 mb-3">
                    <div class="col-6 ">
                        <label for="input-presicion">Presicion</label>

                    </div>
                    <div class="col-6">
                        <input id="input-presicion" class="form-control"
                               placeholder="Presicion"
                               [(ngModel)]="getConfiguration('PRECISION').value" name="presicion">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
