<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Crack Intelligence</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/home" (click)="itemClick()" routerLinkActive="active">{{'navbar.home'|
                    translate}}<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <a routerLink="/dashboard" (click)="itemClick()" class="nav-link"
                   routerLinkActive="active">{{'navbar.dashboard'| translate}}</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <a routerLink="/scenarios" (click)="itemClick()" class="nav-link"
                   routerLinkActive="active">{{'navbar.scenarios'| translate}}</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <a routerLink="/materials" (click)="itemClick()" class="nav-link"
                   routerLinkActive="active">{{'navbar.materials'| translate}}</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <a routerLink="/profile" (click)="itemClick()" class="nav-link" routerLinkActive="active">{{'navbar.profile'|
                    translate}}</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn()">
                <button
                        class="btn btn-outline-success my-2 my-sm-0 mx-2" (click)="fastScenario()">
                    {{'navbar.fastScenario'| translate}}
                </button>
            </li>
        </ul>

        <p class="text-white my-auto" *ngIf="loggedIn()">{{currentUser().email}}</p>
        <button class="button btn btn-outline-success my-2 my-sm-0 mx-2" (click)="signup()" *ngIf="!loggedIn()"><span>{{'navbar.signup'| translate}}</span>
        </button>
        <button class="btn btn-outline-success my-2 my-sm-0 mx-2" (click)="logout()" *ngIf="loggedIn()">
            {{'navbar.logout'| translate}}
        </button>

        <!--<button class="btn btn-outline-success my-2 my-sm-0 mx-2">Login</button>-->

    </div>

</nav>
