<div class="main-container container mt-2 justify-content-lg-center">
  <form id="needs-validation" class="" [formGroup]="form">


    <div class="row m-0 justify-content-center ">


      <!--TIPO DE PROBLEMA-->
      <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
        <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.scenario'|translate}}</h1>

        <label class="w-100 text-center">
          <h3 class="form-control-lg mb-2 mt-2 w-100">
            {{'scenario.'+scenarioType|translate}}

          </h3>
        </label>

        <div class="card w-100">
          <img class="card-img-top" src="https://s3-sa-east-1.amazonaws.com/images-crackintelligence/scenario2.png" alt="Scenario">


        </div>
      </div>

      <hr class="d-lg-none" style="width: 100%; color: grey; height: 1px; background-color:dimgrey;"/>

        <!--SETUP DE PARAMETROS-->
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 ">
            <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.parametersSetup'|translate}}p</h1>
            <div id="accordion" role="tablist" class="w-100">

                <!--CARGA-->
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour">
                        <h5 class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false"
                               aria-controls="collapseFour">
                                {{'scenario.loadProperties'|translate}}
                            </a>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-body">


                            <static-variable-input [parameter]="getParameter('BAR_LOAD')" [unitSystem]="this.unitSystem"
                                                   (changeParameter)="parameterChanged($event)"></static-variable-input>
                            <static-variable-input [parameter]="getParameter('BAR_STRENGTH')" [unitSystem]="this.unitSystem"
                                                   (changeParameter)="parameterChanged($event)"></static-variable-input>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row mt-5">
      <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
        <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.configuration'|translate}}</h1>

        <div class="row mt-3 mb-3">
          <div class="col-6">
            <label for="input-seed">{{'scenario.seed'|translate}}</label>

          </div>
          <div class="col-6">
            <input formControlName="seed" id="input-seed" class="form-control" placeholder="{{'scenario.seed'|translate}}"
                   [(ngModel)]="seed" name="seed" required>
          </div>

        </div>


        <div class="row  mt-3 mb-3">
          <div class="col-6 ">
            <label for="input-presicion">{{'scenario.montecarloSampleSize'|translate}}</label>

          </div>
          <div class="col-6">
            <input formControlName="precision" id="input-presicion" class="form-control"
                   placeholder="{{'scenario.montecarloSampleSize'|translate}}"
                   [(ngModel)]="precision" name="presicion" required>
          </div>
        </div>

      </div>


      <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">


        <h1 class="w-80 text-center  mt-4 mb-4">{{'scenario.commentAndStart'|translate}}</h1>

        <div class="col-12 text-center">
          <textarea class="form-control" formControlName="comments" rows="5" id="comments" [(ngModel)]="scenario.comments"></textarea>
        </div>

        <div class="col-12 text-center">

          <button type="submit" (click)="startScenarioCalculation()" class="btn btn-success m-5">
              {{'scenario.startScenario'|translate}}
          </button>

        </div>
      </div>
    </div>

  </form>
</div>
