<div class="main-container">

    <h1 class="w-100 text-center mt-4 mb-4">{{'materials.materials'|translate}}</h1>

    <div class="row m-0 justify-content-center ">
        <button routerLink="/material" type="button"
                class="btn btn-success">{{'materials.newMaterial'|translate}}
        </button>
    </div>

    <div class="row m-2">

        <table *ngIf="materials.length>0" class="table">
            <thead>
            <tr>
                <th scope="col">{{'materials.name'|translate}}</th>
                <th scope="col">{{'materials.properties'|translate}}</th>
                <th scope="col">{{'materials.actions'|translate}}</th>
            </tr>
            </thead>
            <tbody>


            <tr *ngFor="let m of materials">
                <td>{{m.name}}</td>
                <td>
                    <span *ngFor="let p of m.properties"
                          class="badge badge-secondary">{{'params.'+p.code|translate}}</span>
                </td>
                <td>
                    <button type="button" class="btn btn-default m-0 p-0 " routerLink="/material/{{m.id}}">
                        <span class="fa fa-edit fa-lg"></span>
                    </button>
                    <button type="button" class="btn btn-default m-0 p-0" (click)="deleteMaterial(m.id)">
                        <span class="fa fa-trash fa-lg"></span>
                    </button>
                </td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
