<div class="main-container container mt-2 justify-content-lg-center">

    <div *ngIf="scenario">

        <div class="row m-0 justify-content-center ">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
                <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.scenario'|translate}}</h1>

                <label class="w-100 text-center">
                    <h3 class="form-control-lg mb-2 mt-2 w-100">
                        {{'scenario.'+scenario.type|translate}}

                    </h3>
                </label>

                <div  class="card w-100">
                    <img class="card-img-top" src="https://s3-sa-east-1.amazonaws.com/images-crackintelligence/{{getPicture()}}.png" alt="{{'scenario.scenario'|translate}}">
                </div>
            </div>


            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">


                <h1 class="w-80 text-center  mt-4 mb-4">{{'scenario.results'|translate}}</h1>


                <h1 class="w-80 text-center  mt-4 mb-4" *ngIf="this.scenario.output.length>0">{{'scenario.failureProbability'|translate}}: {{this.failurePercentageScientific}} </h1>
                <h1 class="w-80 text-center  mt-4 mb-5" *ngIf="this.scenario.output.length===0">{{'scenario.calculating'|translate}}...</h1>


                <div class="col-12 text-center" *ngIf="this.scenario.output.length>0">
                    <div style="display: block">
                        <canvas id="myChart" baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [colors]="doughnutColorsType"
                                [options]="doughnutChartOptions"
                                [legend]="false"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">

                            <h1 class="w-80 text-center  mt-4 mb-4">75%</h1>
                        </canvas>
                    </div>

                </div>

                <div *ngIf="this.scenario.output.length===0" class="col-12 text-center mt-5 animationload">
                    <div class="osahanloading"></div>
                </div>
            </div>



        </div>


        <div class="row mt-5">

            <div class="col-12 col-lg-6 col-md-12 col-sm-12 ">
                <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.parametersSetup'|translate}}</h1>

                <!-- SEPARADOR *************************************************************************************** -->


                <div *ngFor="let parameter of scenario.parameters">
                    <static-variable-input [parameter]="parameter" [unitSystem]="scenario.unitSystem" [staticField]="true"></static-variable-input>
                </div>


                <!-- SEPARADOR *************************************************************************************** -->



            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
                <h1 class="w-100 text-center  mt-4 mb-4">{{'scenario.configuration'|translate}}</h1>

                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <label for="input-seed">{{'scenario.seed'|translate}}</label>

                    </div>
                    <div class="col-6">
                        <input id="input-seed" class="form-control" placeholder="{{'scenario.seed'|translate}}"
                               [(ngModel)]="getConfiguration('SEED').value" name="seed">
                    </div>

                </div>


                <div class="row  mt-3 mb-3">
                    <div class="col-6 ">
                        <label for="input-presicion">{{'scenario.montecarloSampleSize'|translate}}</label>

                    </div>
                    <div class="col-6">
                        <input id="input-presicion" class="form-control"
                               placeholder="{{'scenario.montecarloSampleSize'|translate}}"
                               [(ngModel)]="getConfiguration('PRECISION').value" name="presicion">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
