<div class="main-container">

  <h1 class="display-2 w-100 text-center">Calculations</h1>

<div id="new-calc-container" class="container text-center">
  <button routerLink="/new" type="button"  class="btn btn-success">New Calculation</button>
</div>


<!--

<h2>My Calculations</h2>
<ul class="calculations">
  <li *ngFor="let calc of calculation"
      [class.selected]="calc === selectedCalculation"
      (click)="onSelect(calc)">
    <span class="badge">{{calc.id}}</span> {{calc.name}}
  </li>
</ul>

<div>
  <label>Hero name:</label> <input #calculationName />
  <button (click)="add(calculationName.value); calculationName.value=''">
    Add
  </button>
</div>


<div *ngIf="selectedCalculation">
  <h2>
    {{selectedCalculation.name | uppercase}} is my calculation
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

-->


</div>
