
#cover {
    background: #222 url(https://s3-sa-east-1.amazonaws.com/images-crackintelligence/factory-power-plant.jpg) no-repeat center center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: right;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

#form {
    display: flex;
    float: right;
}

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid[required], .ng-valid.required {
    border-left: 5px solid #a92100; /* green */
}