<div class="main-container">
  <div class="row">
    <div class="col col-10 col-lg-6 mr-auto ml-auto">
      <h1 class="w-100 text-center">User profile</h1>

      <form>

        <div class="row">
          <div class="form-group col col-12 col-lg-6">
            <label for="fieldEmail">Email address</label>
            <input type="email" class="form-control" id="fieldEmail" aria-describedby="emailHelp" disabled
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>


          <div class="form-group col col-12 col-lg-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name">
          </div>


        </div>


        <div class="row">
          <div class="form-group col col-12 col-lg-6">
            <label for="field">Field</label>
            <input type="text" class="form-control" id="field"
                   placeholder="Field">
          </div>


          <div class="form-group col col-12 col-lg-6">
            <label for="field2">Field 2</label>
            <input type="text" class="form-control" id="field2"
                   placeholder="Field">
          </div>


        </div>

        <div class="row">
          <div class="form-group col col-12 col-lg-6">
            <label for="unitSystemInput">Unit System</label>
            <div id="unitSystemInput" class="btn-group" data-toggle="buttons">
              <label class="btn btn-secondary active ">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> International
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> United States
              </label>

            </div>
          </div>


          <div class="form-group col col-12 col-lg-6">
            <select class="selectpicker" data-width="fit">
              <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
              <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
            </select>

          </div>


        </div>



      </form>


    </div>
  </div>
</div>
