<div class="main-container">
    <div class="row">
        <div class="col col-10 col-lg-6 mr-auto ml-auto">


            <form id="form" [formGroup]="form">

                <h1 class="w-100 text-center mt-4 mb-4">{{'profile.userProfile'|translate}}</h1>

                <div class="row">
                    <div class="form-group col col-12 col-lg-6">
                        <label for="fieldEmail">{{'profile.emailAddress'|translate}}</label>
                        <input [(ngModel)]="user.email" name="email" type="email" [ngModelOptions]="{standalone: true}"
                               class="form-control" id="fieldEmail"
                               aria-describedby="emailHelp" disabled
                               placeholder="{{'profile.emailAddress'|translate}}">
                    </div>


                    <div class="form-group col col-12 col-lg-6">
                        <label for="inputName">{{'profile.name'|translate}}</label>
                        <input [(ngModel)]="user.name" name="name" type="text" formControlName="name"
                               class="form-control" id="inputName"
                               placeholder="{{'profile.name'|translate}}">
                    </div>


                </div>


                <div class="row">
                    <div class="form-group col col-12 col-lg-6">
                        <label for="inputName">{{'profile.surname'|translate}}</label>
                        <input [(ngModel)]="user.surname" name="surname" formControlName="surname" type="text"
                               class="form-control"
                               id="inputSurname" placeholder="{{'profile.surname'|translate}}">
                    </div>

                    <div class="form-group col col-12 col-lg-6">
                        <label for="inputOrganization">{{'profile.organization'|translate}}</label>
                        <input [(ngModel)]="user.organization" name="organization" formControlName="organization"
                               type="text" class="form-control"
                               id="inputOrganization" placeholder="{{'profile.organization'|translate}}">
                    </div>

                </div>

                <h1 class="w-100 text-center mt-4 mb-4">{{'profile.preferences'|translate}}</h1>

                <div class="row">
                    <div class="form-group col col-12 col-lg-6">
                        <label for="unitSystemInput" class="w-100">{{'profile.unitSystem'|translate}}</label>
                        <div id="unitSystemInput" class="btn-group w-100" data-toggle="buttons">
                            <label class="btn btn-secondary active w-50"
                                   [ngClass]="{ 'active' : 'INT' == user.preferences.unitSystem }"
                                   (click)="unitSystemSelect('INT')">
                                <input formControlName="unitINT" type="radio" name="unitINT" id="unitINT"
                                       autocomplete="off"
                                       (click)="unitSystemSelect('INT')" checked>
                                {{'signup.international'|translate}}
                            </label>
                            <label class="btn btn-secondary w-50"
                                   [ngClass]="{ 'active' : 'US' == user.preferences.unitSystem }"
                                   (click)="unitSystemSelect('US')">
                                <input formControlName="unitUS" type="radio" name="unitUS" id="unitUS"
                                       autocomplete="off"
                                >{{'signup.unitedStates'|translate}}
                            </label>

                        </div>
                    </div>


                    <div class="form-group col col-12 col-lg-6">
                        <label for="languageInput" class="w-100">{{'profile.language'|translate}}</label>
                        <div id="languageInput" class="btn-group w-100" data-toggle="buttons">
                            <label class="btn btn-secondary active w-50"
                                   [ngClass]="{ 'active' : 'EN' == user.preferences.language }"
                                   (click)="languageSelect('EN')">
                                <input formControlName="languageEN" type="radio" name="languageEN" id="languageEN"
                                       autocomplete="off"
                                       [(ngModel)]="user.preferences.language" [value]="'EN'">
                                {{'signup.english'|translate}}
                            </label>
                            <label class="btn btn-secondary w-50"
                                   [ngClass]="{ 'active' : 'ES' == user.preferences.language }"
                                   (click)="languageSelect('ES')">
                                <input formControlName="languageES" type="radio" name="languageES" id="languageES"
                                       autocomplete="off"
                                       [(ngModel)]="user.preferences.language" [value]="'ES'">
                                {{'signup.spanish'|translate}}
                            </label>

                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="form-group col col-12 col-lg-6">
                        <label for="fastScenarioIdInput" class="w-100">{{'profile.fastScenario'|translate}}</label>
                        <div id="fastScenarioIdInput" class="form-group w-100">
                            <select [(ngModel)]="user.preferences.fastScenario" formControlName="fastScenario"
                                    class="custom-select form-control-lg mb-2 mt-2 w-100">
                                <option *ngFor="let oo of scenarioTypes" [value]="oo">{{'scenario.'+oo|translate}}
                                </option>

                            </select>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="col col-12 col-lg-12 text-center">
                        <button [disabled]="this.loading" type="submit" (click)="updateUser()"
                                class="button btn btn-success m-5"
                                style="background-color: green!important">
                            <span>{{'profile.update'|translate}}</span>
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
