<div class="main-container container mt-2 justify-content-lg-center">


  <div class="row m-0 justify-content-center ">


    <!--TIPO DE PROBLEMA-->
    <div class="col-12 col-lg-6 col-md-12 col-sm-12 justify-content-center mb-3 ">
      <h1 class="w-100 text-center">Problem type</h1>

      <div class="card w-100">
        <div class="card-body">
          <h4 class="card-title">Semi-elliptical surface crack in a straight pipe.</h4>
        </div>
        <img class="card-img-top" src="../../../assets/scenario1.png" alt="Card image cap">

      </div>
    </div>

    <hr class="d-lg-none" style="width: 100%; color: grey; height: 1px; background-color:dimgrey;"/>


    <!--SETUP DE PARAMETROS-->
    <div class="col-12 col-lg-6 col-md-12 col-sm-12 ">
      <h1 class="w-100 text-center">Parameters setup</h1>
      <div id="accordion" role="tablist" class="w-100">
        <!--GRIETA-->
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Crack Geometry
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
               data-parent="#accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault01">Input 1</label>
                  <div class="input-group">
                    <input id="validationDefault01" type="text" class="form-control" placeholder="Value 1"
                           aria-label="Text input with dropdown button">
                    <div class="input-group-btn">
                      <select type="select" class="btn btn-secondary">
                        <option selected>Zero</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>

                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="validationDefault02">Input 2</label>
                  <input type="text" class="form-control" id="validationDefault02" placeholder="Value 2" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="validationDefault03">Input 3</label>
                  <input type="text" class="form-control" id="validationDefault03" placeholder="Value 3" required>
                  <div class="invalid-feedback">
                    Please
                    provide
                    a
                    valid
                    input.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault04">Input 4</label>
                  <input type="text" class="form-control" id="validationDefault04" placeholder="Value 4" required>
                  <div class="invalid-feedback">
                    Please
                    provide
                    a
                    valid
                    input.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationDefault05">Input 5</label>
                  <input type="text" class="form-control" id="validationDefault05" placeholder="Value 5" required>
                  <div class="invalid-feedback">
                    Please
                    provide
                    a
                    valid
                    input.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--COMPONENTE-->
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                 aria-controls="collapseTwo">
                Component Geometry
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div class="input-group-btn">
                  <select type="select" class="btn btn-secondary dropdown-toggle">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--MATERIAL-->
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                 aria-controls="collapseThree">
                Material Properties
              </a>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
               data-parent="#accordion">
            <div class="card-body">
              Anim
              pariatur
              cliche
              reprehenderit, enim
              eiusmod
              high
              life
              accusamus
              terry
              richardson
              ad
              squid.
              3
              wolf
              moon
              officia
              aute, non
              cupidatat
              skateboard
              dolor
              brunch.Food
              truck
              quinoa
              nesciunt
              laborum
              eiusmod.Brunch
              3
              wolf
              moon
              tempor, sunt
              aliqua
              put
              a
              bird
              on
              it
              squid
              single - origin
              coffee
              nulla
              assumenda
              shoreditch
              et.Nihil
              anim
              keffiyeh
              helvetica, craft
              beer
              labore
              wes
              anderson
              cred
              nesciunt
              sapiente
              ea
              proident.Ad
              vegan
              excepteur
              butcher
              vice
              lomo.Leggings
              occaecat
              craft
              beer
              farm - to - table, raw
              denim
              aesthetic
              synth
              nesciunt
              you
              probably
              haven
              't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <!--CARGA-->
        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false"
                 aria-controls="collapseFour">
                Load Properties
              </a>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour"
               data-parent="#accordion">
            <div class="card-body">

            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-success">Start calculation</button>

  </div>

</div>
