<label for="input-value" class="h5">
    {{parameter.code|parameterName}}
</label>
<div class="form-row" id="input-value" [formGroup]="form">

    <div class="col-12 col-lg-4 mb-2">

        <div class="input-group margin-bottom-sm">
            <input formControlName="value" class="form-control" type="number"
                   placeholder="{{parameter.code|parameterName}}"
                   [(ngModel)]="parameter.value" name="value" (keyup)="onChange()" required>
            <div class="input-group-btn">
                <select type="select" class="form-control">
                    <option *ngIf="international && distance" selected>cm</option>
                    <option *ngIf="international && distance">mm</option>

                    <option *ngIf="unitedstates && distance">yrd</option>
                    <option *ngIf="unitedstates && distance">lala</option>

                </select>

            </div>
        </div>
    </div>


    <div class="col-6 col-lg-4 mb-3">


        <div class="btn-group w-100" role="group" data-toggle="buttons">

            <div class="form-group w-100">
                <select formControlName="type" [(ngModel)]="distributionType" class="form-control w-100" id="typeSelect"
                        (change)="typeChanges($event.target.value)">
                    <option value="STATIC">Static</option>
                    <option value="NORMAL">Normal</option>
                    <option value="LOGNORMAL">LogNormal</option>

                </select>
            </div>


        </div>
    </div>


    <div class="col-6 col-lg-4 mb-3" *ngIf="!parameter.isStatic()">

        <div class="input-group margin-bottom-sm w-100">
            <input formControlName="parameter-1" type="number" class="form-control w-100" [(ngModel)]="parameter1"
                   name="parameter1" (keyup)="paramChanges()" required min="0">

        </div>

    </div>


</div>
