<label for="input-value" class="h5">
    {{'params.'+parameter.code|translate}}
    <i> ({{'params.abbreviations.'+parameter.code|translate}})</i>
</label>
<div class="form-row" id="input-value" [formGroup]="form">

    <div class="col-12 col-lg-4 mb-2">

        <div class="input-group margin-bottom-sm">
            <input formControlName="value" class="form-control" type="number"
                   placeholder="{{'params.'+parameter.code|translate}}"
                   [(ngModel)]="parameter.value" name="value" (keyup)="onChange()" required>
            <div class="input-group-btn w-50">


                <select [(ngModel)]="parameter.unit" *ngIf="international" (change)="paramChanges()"
                        formControlName="intUnit" type="select" class="form-control">
                    <option *ngIf="distance" value="MM">{{'MM'|abbreviations}}</option>
                    <option *ngIf="distance" value="CM">{{'CM'|abbreviations}}</option>


                    <option *ngIf="pressure" value="MPA">{{'MPA'|abbreviations}}</option>
                    <option *ngIf="pressure" value="KPA">{{'KPA'|abbreviations}}</option>

                    <option *ngIf="force" value="NEWTON">{{'NEWTON'|abbreviations}}</option>


                    <option *ngIf="fractureToughness" value="MEGAPASCAL_METER_0_5">
                        {{'MEGAPASCAL_METER_0_5'|abbreviations}}5
                    </option>

                </select>

                <select [(ngModel)]="parameter.unit" *ngIf="unitedstates" (change)="paramChanges()"
                        formControlName="usUnit" type="select" class="form-control">
                    <option *ngIf="distance" value="INCH">{{'INCH'|abbreviations}}</option>
                    <option *ngIf="distance" value="FOOT">{{'FOOT'|abbreviations}}</option>
                    <option *ngIf="distance" value="THOU">{{'THOU'|abbreviations}}</option>


                    <option *ngIf="pressure" value="KSI">{{'KSI'|abbreviations}}</option>
                    <option *ngIf="pressure" value="PSI">{{'PSI'|abbreviations}}</option>

                    <option *ngIf="force" value="POUND_FORCE">{{'POUND_FORCE'|abbreviations}}</option>

                    <option *ngIf="fractureToughness" value="KSI_INCH_0_5">{{'KSI_INCH_0_5'|abbreviations}}</option>

                </select>


            </div>
        </div>


    </div>


</div>
