<label for="input-value" class="h5">
    {{'params.'+parameter.code|translate}}
    <i> ({{'params.abbreviations.'+parameter.code|translate}})</i>
</label>
<div class="form-row" id="input-value" [formGroup]="form">

    <div class="col-12 col-lg-4 mb-2">

        <div class="input-group margin-bottom-sm">
            <input formControlName="value" class="form-control" type="number"
                   placeholder="{{'params.'+parameter.code|translate}}"
                   [(ngModel)]="parameter.value" name="value" (keyup)="onChange()" required>

        </div>
    </div>


</div>
