<div class="row">


  <div class="col-12 col-lg-5 mb-2">
    <div class="input-group margin-bottom-sm">
      <input class="form-control" type="text" placeholder="Straight">
      <div class="input-group-btn">
        <select type="select" class="btn btn-secondary">
          <option selected>mm</option>
          <option value="1">yrd</option>

        </select>

      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 mb-3">


    <div class="btn-group " role="group" data-toggle="buttons" >

      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-success active">

          <input type="radio" name="options" id="option1" autocomplete="off" checked>
          <span ><i class="fa fa-align-justify fa-fw" ></i></span>
        </label>
        <label class="btn btn-secondary btn-success">
          <input type="radio" name="options" id="option2" autocomplete="off">
          <span ><i class="fa fa-area-chart fa-fw" ></i></span>
        </label>
        <label class="btn btn-secondary btn-success">
          <input type="radio" name="options" id="option3" autocomplete="off">
          <span ><i class="fa fa-bar-chart fa-fw" ></i></span>
        </label>
      </div>


    </div>

  </div>



  <div class="col-6 col-lg-3 mb-3">

    <div class="input-group margin-bottom-sm">
      <input class="form-control" type="text" placeholder="X">
      <input class="form-control"  type="text" placeholder="Y">

    </div>

  </div>


</div>
