<label for="input-value" class="h5">
    {{parameter.code|parameterName}}
</label>
<div class="form-row" id="input-value" [formGroup]="form">

    <div class="col-12 col-lg-4 mb-2">

        <div class="input-group margin-bottom-sm">
            <input formControlName="value" class="form-control" type="number"
                   placeholder="{{parameter.code|parameterName}}"
                   [(ngModel)]="parameter.value" name="value" (keyup)="onChange()" required>
            <div class="input-group-btn">





                <select [(ngModel)]="parameter.unit" *ngIf="international" (change)="paramChanges()" formControlName="intUnit" type="select" class="form-control">
                    <option *ngIf="distance" value="MM">{{'MM'|abbreviations}}</option>
                    <option *ngIf="distance" value="CM">{{'CM'|abbreviations}}</option>


                    <option *ngIf="preasure" value="MPA">{{'MPA'|abbreviations}}</option>
                    <option *ngIf="preasure" value="KPA">{{'KPA'|abbreviations}}</option>

                    <option *ngIf="fractureToughness" value="MEGAPASCAL_METER_0_5">{{'MEGAPASCAL_METER_0_5'|abbreviations}}5</option>

                </select>

                <select [(ngModel)]="parameter.unit" *ngIf="unitedstates" (change)="paramChanges()" formControlName="usUnit" type="select" class="form-control">
                    <option *ngIf="distance" value="INCH">{{'INCH'|abbreviations}}</option>
                    <option *ngIf="distance" value="FOOT">{{'FOOT'|abbreviations}}</option>
                    <option *ngIf="distance" value="THOU">{{'THOU'|abbreviations}}</option>


                    <option *ngIf="preasure" value="NW_MM2">{{'NW_MM2'|abbreviations}}</option>
                    <option *ngIf="preasure" value="NW_CM2">{{'NW_CM2'|abbreviations}}</option>

                    <option *ngIf="fractureToughness" value="MEGAPASCAL_METER_0_5">{{'MEGAPASCAL_METER_0_5'|abbreviations}}</option>

                </select>


            </div>
        </div>
    </div>


    <div class="col-6 col-lg-4 mb-3">


        <div class="btn-group w-100" role="group" data-toggle="buttons">

            <div class="form-group w-100">
                <select formControlName="type" [(ngModel)]="distributionType" class="form-control w-100" id="typeSelect"
                        (change)="typeChanges($event.target.value)">
                    <option value="STATIC">Static</option>
                    <option value="NORMAL">Normal</option>
                    <option value="LOGNORMAL">LogNormal</option>

                </select>
            </div>


        </div>
    </div>


    <div class="col-6 col-lg-4 mb-3" *ngIf="!parameter.isStatic()">

        <div class="input-group margin-bottom-sm w-100">
            <input formControlName="parameter-1" type="number" class="form-control w-100" [(ngModel)]="parameter1"
                   name="parameter1" (keyup)="paramChanges()" required min="0">

        </div>

    </div>


</div>
